@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
}

.table-header-blue {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.img-table {
  width: 80%;
}

.currency::before {
  content: '$';
}
.selected-row {
  background-color: #b5d3ff;
}
.big-check input {
  width: 1.5em;
  height: 1.5em;
}
.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
.txt-bold {
  font-weight: bold;
}
td {
  vertical-align: middle;
}
